[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
requests = "*"
fastapi-utils = "*"
python-dotenv = "*"
aioredis = "*"
motor = "*"

[dev-packages]
pre-commit = "*"
pytest = "*"
pytest-mock = "*"
pytest-asyncio = "*"
flake8 = "*"

[requires]
python_version = "3.9"

[scripts]
start = "uvicorn src.app:app --port 8000 --reload"
